@import "tailwindcss";
@import "@fontsource/geist-sans/latin-400.css";
@import "@fontsource/geist-sans/latin-500.css";
@import "@fontsource/geist-sans/latin-600.css";
@import "@fontsource/geist-mono/latin-400.css";
@import "./global.css";

@theme {
    --font-sans: "Geist Sans", sans-serif;
    --font-mono: "Geist Mono", ui-monospace, monospace;
    --font-geist-sans: "Geist Sans", sans-serif;
    --font-geist-mono: "Geist Mono", ui-monospace, monospace;
}
