*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}

::selection {
  color: var(--ui-primary);
  background-color: var(--ui-elevated-30);
}

html {
  background: var(--blueprint-bg);
}

body {
  margin: 0;
  color: var(--blueprint-text);
  background: var(--blueprint-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-block: 0;
  margin-inline: 0;
  line-height: 120%;
}

h1,
h2 {
  letter-spacing: -2%;
  line-height: 110%;
}

h1 { font-size: 43px; }
h2 { font-size: 36px; }
h3 { font-size: 24px; }
h4 { font-size: 17px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

p,
a,
li {
  margin: 0;
  font-size: 16px;
  line-height: 122%;
  color: var(--ui-secondary);
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-underline-offset: 4px;
}

a:not(.button):focus-visible {
  border-radius: 5px;
}

svg,
img {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

button {
  appearance: none;
  letter-spacing: inherit;
  word-spacing: unset;
  line-height: inherit;
  text-indent: 0;
  text-shadow: none;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
  border: none;
  font-family: inherit;
  font-weight: inherit;
}

input {
  font-family: inherit;
}

button:focus-visible,
.button:focus-visible,
a:focus-visible {
  outline: 2px var(--ui-primary) solid;
  outline-offset: 3px;
}

@media screen and (max-width: 535px) {
  h1 { font-size: 38px; }
  h2 { font-size: 30px; }
}
