button,
.button {
  --size: 38px;

  color: var(--ui-primary);
  background-color: transparent;
  font-size: 16px;
  min-height: 38px;
  padding: 9px 16px;
  border-radius: calc(var(--size) / 2);
  transition: 0.2s background-color, 0.2s transform, 0.2s opacity;
  will-change: transform;
  display: inline-flex;
  align-items: center;
  gap: 7px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

button:not(.transparent),
.button:not(.transparent) {
  background-color: var(--ui-elevated-7);
}

button:active,
.button:active {
  background-color: var(--ui-elevated-15);
  transform: scale(0.97);
}

button.primary,
.button.primary {
  color: var(--ui-white);
  background-color: var(--ui-blue);
}

button.primary:active,
.button.primary:active {
  background-color: var(--ui-blue-press);
}

button.circle,
.button.circle {
  height: var(--size);
  width: var(--size);
  padding: 0;
  justify-content: center;
}

button.card,
.button.card {
  min-height: 0;
  width: 100%;
  text-align: left;
  border-radius: 14px;
  padding: 14px 18px;
  gap: var(--ui-gap-3);
}

button.card:active,
.button.card:active {
  transform: none;
}

button.card svg,
.button.card svg {
  width: 21px;
  height: 21px;
}

button:not(.card):not(.circle):has(svg),
.button:not(.card):not(.circle):has(svg) {
  padding-inline-start: 14px;
}

button:disabled,
.button:disabled {
  color: var(--ui-tertiary);
  pointer-events: none;
}

button:disabled:not(.transparent),
.button:disabled:not(.transparent) {
  background-color: var(--ui-elevated-5);
}

button:disabled:not(.selected),
.button:disabled:not(.selected) {
  box-shadow: none;
}

button.selected,
.button.selected {
  box-shadow: 0 0 0 1px var(--ui-primary) inset, 0 0 0 1px var(--ui-primary);
}

button svg,
.button svg {
  flex: 0 0 auto;
  height: 18px;
  width: 18px;
  stroke-width: 1.8px;
}

@media (hover: hover) {
  button:hover,
  .button:hover {
    background-color: var(--ui-elevated-10);
  }

  button:hover:active,
  .button:hover:active {
    background-color: var(--ui-elevated-15);
  }

  button.primary:hover,
  .button.primary:hover {
    background-color: var(--ui-blue-hover);
  }

  button.primary:hover:active,
  .button.primary:hover:active {
    background-color: var(--ui-blue-press);
  }
}

a.button {
  text-decoration: none;
}

.action-buttons {
  display: flex;
  gap: var(--ui-gap-1);
}

.action-buttons > button,
.action-buttons > .button {
  border-radius: 30px;
}

.input-field,
.dropdown {
  color: var(--ui-primary);
  border-radius: 12px;
  align-items: center;
  transition: 0.2s background-color, 0.1s outline-color, 0.1s box-shadow;
  background-color: var(--ui-elevated-7);
  display: inline-flex;
}

.input-field:focus-within,
.dropdown:focus-within {
  background-color: var(--ui-elevated-10);
  outline: 2px var(--ui-primary) solid;
  outline-offset: -1px;
}

@media (hover: hover) {
  .input-field:hover,
  .dropdown:hover {
    background-color: var(--ui-elevated-10);
  }
}

.input-field {
  gap: 9px;
  width: 100%;
  cursor: text;
}

:where(.input-field input, .dropdown select) {
  appearance: none;
  min-width: 0;
  width: 100%;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  font: inherit;
  font-weight: 500;
  letter-spacing: inherit;
}

:where(.input-field input)::placeholder {
  color: var(--ui-tertiary);
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
}

.input-field.disabled,
.dropdown.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  color: var(--ui-primary);
  cursor: pointer;
  line-height: 120%;
  user-select: none;
  -webkit-user-select: none;
}

.checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.checkbox-control {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 28px;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: var(--ui-elevated-7);
  box-shadow: 0 0 0 1.5px var(--ui-elevated-5) inset;
  transition: background-color 0.2s, transform 0.2s;
  will-change: transform;
}

.checkbox-control svg {
  width: 21px;
  height: 21px;
  stroke-width: 2px;
  opacity: 0;
}

.toggling .checkbox-control {
  transition: transform 0.2s;
}

@media (hover: hover) {
  .checkbox:hover input:not(:checked) + .checkbox-control {
    background-color: var(--ui-elevated-10);
  }

  .checkbox:hover input:checked + .checkbox-control {
    background-color: var(--ui-blue-hover);
  }
}

.checkbox:active .checkbox-control {
  transform: scale(0.97);
}

.checkbox input:checked + .checkbox-control {
  background-color: var(--ui-blue);
  color: #ffffff;
}

.checkbox input:checked + .checkbox-control svg {
  opacity: 1;
}

.checkbox input:focus-visible + .checkbox-control {
  outline: 2px var(--ui-primary) solid;
  outline-offset: 3px;
}

.checkbox-content {
  color: var(--ui-secondary);
  font-size: 16px;
  line-height: 122%;
}

.checkbox.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.toggle-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  overflow: hidden;
}

.toggle {
  min-width: 48px;
  width: 48px;
  height: 28px;
  border-radius: 50px;
  background-color: var(--ui-elevated-30);
  transition: background-color 0.25s;
}

.toggle .runner {
  width: 22px;
  height: 22px;
  margin: 3px;
  background-color: var(--ui-white);
  border-radius: 50px;
  will-change: translate;
  transition: translate 0.15s;
}

.toggle.enabled {
  background-color: var(--ui-blue);
}

.toggle.enabled .runner {
  translate: 20px 0;
}

.tooltip-anchor {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  gap: var(--ui-gap-1);
}

.tooltip-container {
  position: fixed;
  margin: 0;
  padding: 16px;
  border: none;
  background: none;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.8);
  transform-origin: left;
  transition: transform 0.15s, opacity 0.15s;
}

.tooltip-container:popover-open {
  opacity: 1;
  transform: none;
  transform-origin: top left;
}

@starting-style {
  .tooltip-container:popover-open {
    opacity: 0;
    transform: scale(0.8);
  }
}

.tooltip-content {
  color: var(--ui-primary);
  background-color: var(--ui-tooltip-bg);
  outline: 1.5px solid var(--ui-elevated-10);
  outline-offset: -1.5px;
  text-wrap: pretty;
  padding: 10px 12px;
  font-size: 14px;
  white-space: pre;
  line-height: 120%;
  border-radius: 12px;
  border-top-left-radius: 4px;
  box-shadow: 4px 4px 10px 0 var(--ui-tooltip-shadow);
}

.glass-children > * button:not(.primary),
.glass-children > * .button:not(.primary),
.glass-children > * .checkbox-control,
.glass-children > * .input-field,
.glass-children > * .dropdown,
.glass-children > * .skeleton {
  --ui-elevated-7: color-mix(in srgb, var(--ui-elevated) 9%, transparent);
  backdrop-filter: var(--ui-glass-filter);
}

.search-bar {
  width: 100%;
}

.search-bar input[type="search"]::-webkit-search-decoration,
.search-bar input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
