---
import { type ProjectStatus, STATUS_CLASSES } from '../lib/types';

interface Props {
  status: ProjectStatus;
}

const { status } = Astro.props;
---
<span class={STATUS_CLASSES[status]}>{status}</span>
