---
interface Props {
    class?: string;
    type?: "button" | "submit" | "reset";
    primary?: boolean;
    card?: boolean;
    selected?: boolean;
    circle?: boolean;
    transparent?: boolean;
    disabled?: boolean;
}

const {
    class: className,
    type = "button",
    primary = false,
    card = false,
    selected = false,
    circle = false,
    transparent = false,
    disabled = false,
    ...rest
} = Astro.props;
---

<button
    class:list={[
        {
            button: true,
            primary,
            card,
            selected,
            circle,
            transparent,
        },
        className,
    ]}
    {type}
    {disabled}
    {...rest}
>
    <slot />
</button>
